
{{> header}}


<div id="post-grid" class="post-grid">

{{#each posts}}
  <div class="post">
    <div class="poster-info">
      <div><a href="profile-page/{{this.username}}"><img class="user-profile" src="profile-assets/{{this.profile_picture}}"></a></div>
      <div>
        <p class="post-name">{{this.username}}</p>
        <p class="post-date">{{this.date}}</p>
      </div>
    </div>
    <div class="post-content">
      <p>{{this.content}}</p>
      {{#if this.media_content}}
      <img class="post-image" src="profile-assets/{{this.media_content}}">
      {{/if}}
    </div>
    <div class="post-stats">
      <div class="post-heart" data-post-id="{{this._id}}">&#9829;</div>
      <div><strong>{{this.likes}}</strong> Likes</div>
      <div><strong>{{this.comments}}</strong> Comments</div>
    </div>
  </div>
{{/each}}
</div>


<div class="fixed-grid">
  <button id="compose" class="fg-button"><img class="fg-image" src="site-assets/compose1.jpg"></button>
  <button id="userprofile" class="fg-button" name="userprofile" ><img class="fg-image" src="site-assets/you.jpg"></button>
</div>

<div id="form-overlay" class="form-overlay">
  <div class="form-container">
    <form id="postForm" name="postForm">
      <textarea id="text-input" name="text-input" class="form-text-input" rows="4" cols="50" placeholder="Watchu doing?"></textarea>

      <label for="image-file">Upload an image</label>
      <input type="file" name="file" id="image-file" accept="image/*">
      <p></p>
      <button id="submit-post" class="form-submit" type="submit">Submit</button>
    </form>
  </div>
</div>

<script src="../javascript/post.js"> </script>
<script src="../javascript/createpost.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
